{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Devine le mot
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

        <h1 class="pt-5 pb-2">Trouve le mot !</h1>

        <p class="lead">La liste des mots déjà trouvés s'affiche sous le champ</p>

        {{ wtf.quick_form(form) }}

        {% if words %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Mot</th>
                    <th scope="col">Percentile</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            {% for word in words %}
            <tr>
                {% for key1,value  in word.items() %}
                    {% if key1 == "word" or key1 == "percentile" %}
                    <td>{{ value }}</td>
                    {% elif key1 == "score" %}
                    <td>{{ '%0.3f'|format(value|float) }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}
